
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>

<p>Sorry the message could not be sent. Contact does not exist.</p>
<br>
 <p>Please see contacts page for valid contacts</p>
<br>
<br>
<br>
<br>

<p>
    @Html.ActionLink("Back to SMS", "Index")
</p>